In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('athlete_events.csv')

In [3]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
df = df[df.Height.notnull()]
df = df[df.Weight.notnull()]
df = df[df.Age.notnull()]

In [5]:
occurences = df.groupby('Event').Year.nunique()
occurences

Event
Alpine Skiing Men's Combined                      10
Alpine Skiing Men's Downhill                      18
Alpine Skiing Men's Giant Slalom                  17
Alpine Skiing Men's Slalom                        18
Alpine Skiing Men's Super G                        8
                                                  ..
Wrestling Women's Flyweight, Freestyle             4
Wrestling Women's Heavyweight, Freestyle           4
Wrestling Women's Light-Heavyweight, Freestyle     1
Wrestling Women's Lightweight, Freestyle           4
Wrestling Women's Middleweight, Freestyle          4
Name: Year, Length: 590, dtype: int64

In [6]:
red_occurences = occurences[occurences >= 5]
red_occurences

Event
Alpine Skiing Men's Combined                      10
Alpine Skiing Men's Downhill                      18
Alpine Skiing Men's Giant Slalom                  17
Alpine Skiing Men's Slalom                        18
Alpine Skiing Men's Super G                        8
                                                  ..
Wrestling Men's Middleweight, Greco-Roman         24
Wrestling Men's Super-Heavyweight, Freestyle      12
Wrestling Men's Super-Heavyweight, Greco-Roman    12
Wrestling Men's Welterweight, Freestyle           19
Wrestling Men's Welterweight, Greco-Roman         18
Name: Year, Length: 387, dtype: int64

In [7]:
df_red = df[df.apply(lambda row : row.Event in red_occurences.index.values, axis=1)]

In [8]:
df_red.replace("Fencing Men's epee, Individual", "Fencing Men's Epee, Individual", inplace=True)
df_red.replace("Fencing Men's epee, Team", "Fencing Men's Epee, Team", inplace=True)
df_red.replace("Luge Mixed (Men)'s Doubles", "Luge Men's Doubles", inplace=True)
df_red.replace("Fencing Women's epee, Individual", "Fencing Women's Epee, Individual", inplace=True)
df_red.replace("Fencing Women's epee, Team", "Fencing Women's Epee, Team", inplace=True)
df_red.Event = df_red.Event.str.replace("'", "")
df_red.Event = df_red.Event.str.replace("metres", "m")
df_red.Event = df_red.Event.str.replace("kilometres", "km")

/Users/sylvainlugeon/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/Users/sylvainlugeon/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [9]:
df_red

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Mens Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Mens Extra-Lightweight,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Womens 500 m,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Womens 1,000 m",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Womens 500 m,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mens Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Mens Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Mens Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Mens Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Mens Four,NaN

In [10]:
df_red['Event_w_sport'] = df_red.apply(lambda row: row.Event[len(row.Sport)+1:], axis=1)

/Users/sylvainlugeon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
def findSex(e):
    if "Mens" in e:
        return 'Men', e.replace("Mens", '')
    if "Womens" in e:
        return 'Women', e.replace("Womens", '')
    if "Mixed" in e:
        return 'Mixed', e.replace("Mixed", '')

In [12]:
df_red['Event_sex'] = df_red.apply(lambda row: findSex(row.Event_w_sport)[0], axis=1)
df_red['Event_w_sport_sex'] = df_red.apply(lambda row: findSex(row.Event_w_sport)[1], axis=1)

/Users/sylvainlugeon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/sylvainlugeon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
#df_red.drop('Event', axis=1)

In [14]:
#df_red.rename(columns={'parsed_event':'Event'}, inplace=True)

In [15]:
control = df_red[['Event_w_sport_sex', 'Event', 'Event_sex']].drop_duplicates()

In [16]:
control.to_csv('unique_events.csv')

In [17]:
df_red.to_csv('athlete_events_red.csv')